.body {
  position: absolute;
  display: inline-block;
  margin-top: -20px;
  border: solid;
  width: 100vw;
  height: 200px;
  border-color: #2d4356;
  background-color: #2d4356;
  z-index: -1;
}

@media (max-width: 420px) {
  .body {
    width: 500px;
  }
}