* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #435b66;
}

.title  {
  color: #EAB2A0;
}

.pic {
  border: solid;
  height: 5em;
  width: 5em;
  background-color: #EAB2A0;
  border-radius: 50%;
}

.dez {
  color: aliceblue;
  font-size: 25px;
  margin-top: 3vh;
}

.grid {
  color: aliceblue;
  display: grid;
  grid-template-columns: repeat(3, 140px);
  font-size: 25px;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gSum {
  font-weight: bold;
}



.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  color: #A76F6F;
}

