.nav {
  margin: 20px;
  z-index: 10;
  height: 60px;
}

.items {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: #939393;
}


.list {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  gap: 40px;
}

.right  {
  display: flex;
  gap: 40px;
}
