.body {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;

}

.sides {
  width: 10vw;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d4356;
  width: 50vw;
  height: 60vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 20px;
  gap: 10px;
}


.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  height: 15vh;
  width: 12vw;
  border: solid;
  text-decoration: none;
  color: #82ffff;
}
